@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

body {  /* or any parent wrapper */
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin: 0;
}

#header {
    height: 140px;
    border-bottom: darkgrey 1px solid;
    display: flex;
}

#header h1 {
    margin: auto;
}

#header img {
    border-radius: 50%;
    border: darkgray 1px solid;
    width: 100px;
    position: fixed;
    right: 0;
    margin: 20px;
}

#main {
    flex: 1;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer {
    border-top: darkgray 1px solid;
}

.footerLinks {
    margin: auto;
    width: 50%;
    display: flex;
    padding: 10px;
}

#footer div a {
    width: 50px;
    border-radius: 50%;
    border: darkgrey 1px solid;
    text-decoration: none;
    color: black;
    margin: auto;
}

#footer div a i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.adminLogin {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: default;
}